[submodule "vendor/sdt"]
	path = vendor/sdt
	url = https://github.com/Hiraeth4171/sdt
[submodule "vendor/inip"]
	path = vendor/inip
	url = https://github.com/hiraeth4171/inip
[submodule "vendor/fs"]
	path = vendor/fs
	url = https://github.com/hiraeth4171/fs
